html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}
.page {
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
    padding:0px;
}

/* START Header */
.header {
    position:fixed;
    top:0;
    left:0;
    flex: 0 0 auto;
    width:100%;
    height:70px;
    background:#fff;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}
.header-controls {
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
}
.header-controls .main-control {
    display:flex;
    flex-direction:row;
    align-items:center;
    height:100%;
    padding:15px;
}
.header-controls .main-control .btn {
    width: 150px;
    height: 40px;
    flex: 0 0 auto;
}
.header-controls .main-control select {
    margin-left:20px;
}
/* END Header */

/* START Content */
.content {
    display:flex;
    width:100%;
    margin: 70px 0px 0px 0px;
    flex-direction: column;
}
.file {
    display:block;
    padding:20px;
    flex: 0 0 150px;
    visibility: hidden;
    background:#fff;
}
.file.shown {
    visibility: visible;
}
.file-info {
    padding-bottom:10px;
}
.file-bottom-section {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:15px;
}
.file-progress-info {
    font-size:14px;
    color:#666;
}
.file.file-controls-stopped {
    display:flex;
}
.file.running .file-controls-stopped {
    display:none;
}
.file.running .file-controls-running {
    display:flex;
}
.file .file-controls-running {
    display:none;
}
.file-controls .btn {
    min-width:100px;
    margin-left:20px;
}

/* START Log */
.log-container {
    display:flex;
    flex:1 1 auto;
    flex-direction: column;
}
.log-tab-content {
    display:flex;
    flex:1 1 auto;
    flex-direction: column;
    background:#fff;
}
.log-tab-content > .tab-pane {
    height:0px;
    flex:1 1 auto;
    overflow-x:hidden;
    overflow-y:auto;
    word-wrap:break-word;
}
.log-line {
    padding:2px 10px;
    margin:0px;
    font-size:12px;
}
.log-warn {
    background:rgba(230, 227, 73, 0.37);
}
.log-err {
    background:rgba(232, 22, 22, 0.66);
}
/* END Log */
/* END Content */

/* START Popup */
.popup {
    position:absolute;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
}
.popup.shown {
    display:flex;
}
.popup-content {
    padding:25px 22px 15px 22px;
    background:#fafafa;
    text-align: center;
    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.3);
    border-radius:3px;
}
.popup-heading {
    user-select: none;
    margin-bottom:10px;
    cursor:default;
}
.popup-title {
    font-size:20px;
    color:#454545;
}
.popup-body {
    margin-bottom:15px;
}
.popup-input {
    width:250px;
    height:32px;
    border-radius:2px;
    border:1px solid rgba(0,0,0,0.25);
    padding:2px 6px;
}
.popup-controls {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    color:#fff;
}
.popup-controls .btn {
    margin-left:10px;
    padding:.250rem .75rem;
}
/* END Popup */

/* START Misc */
ul {
    list-style: none;
}
a {
    text-decoration: none !important;
}
.btn-default {
    background: #f1f1f1;
}
.btn-default:hover {
    background:#e5e5e5;
}
.nav-tabs .nav-link {
    border-radius:0 !important;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #e0e0e0 #e0e0e0 transparent;
    background:#f8f8f8;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent #e0e0e0 #fff transparent;
}
.nav-tabs {
    background:#fff;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
/* END Misc */

/* START Fonts */
@font-face {
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-family:"Roboto";
}
/* END Fonts */